.group > .hovermenu {
    right: 0px;
    top: -40px;
    left: auto;
    width: 40px;
    height: 40px;
}
.hovermenu {
    position: absolute;
   /* left: 10px;
    top: 10px;*/
    display: block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    color: white;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.hovermenu:hover {
    display: block;
    color: white;
}
.dropdown-menu li:hover{
    background:#b3d3f3;
}
.open .dropdown-menu {
    display: block;
}
.dropdown-menu {
    top: 30px;
    left: 10px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 5px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;

}
.fa-big {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: xx-large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}
.fa-ellipsis-h:before {
    position: absolute;
    left:10px;
    top:10px;
}